@font-face {
    font-family: "main-mid";
    src: url('../assets/font/SemiBold.woff2');
    font-weight: normal;
  font-style: normal;
  }

html,
body {
  padding: 0;
  margin: 0;
  color: #FFF;
  overflow: hidden;
  font-family: 'main-mid',Arial,sans-serif;
}

#app {
  width: 100%;
  height: 100vh !important;
  /* min-width: 1500px; */
  overflow: hidden;
  background: url('@/assets/image/page-bg.jpg') no-repeat;
}

.el-table, th, td, tr {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #fff !important;
  font-size: 16px;
}
.el-table {
  border-collapse: collapse;
}
.el-table--border:before, .el-table--border:after {
  width: 0 !important;
}
.el-table--border .el-table__inner-wrapper:after {
  height: 2px !important;
  background-color: rgba(25,152,162, 0.8) !important;
}
.el-table__border-left-patch {
  width: 2px !important;
  background-color: rgba(25,152,162, 0.8) !important;
}
/* .el-table__cell{
  border-bottom: solid 1px #9B30FF !important;
} */
.el-table__inner-wrapper:before{
  height: 0 !important;
}
td, th {
  height: 60px;
  border: solid 1px rgba(25,152,162, 0.8) !important;
}
tr:hover {
  background-color: rgba(25,152,162, 0.3) !important;
}
.el-scrollbar{
  border-bottom: solid 1px rgba(25,152,162, 0.8);
}

.el-dialog {
  background-color: rgba(17, 86, 135, 0.8) !important;
}

.el-date-editor .el-input__inner,.el-date-editor .el-input__wrapper {
  background-color: rgba(49, 46, 46, 0.8); /* 自定义背景色 */
  color:#fff
}

.el-date-picker {
  background-color: rgba(17, 86, 135, 0.8) !important;
}

.el-date-picker__header-label, .el-date-table-cell__text {
  color: #fff !important;
}
